.navbar {
    margin: 0;
    padding: 0;
    background: transparent;
    position: fixed;
    transition: all .2s;
    top: 0;
    z-index: 5;
}
.scrollNavBg{
    background-color: #282828;
}
nav {
    display: flex;
    padding: 0 15px;
    gap: 30px;
    align-items: center;
}

.navbar nav a {
    padding: 10px;
    display: flex;
    color: #ffffff;
    text-decoration: none;
    vertical-align: baseline;
}

.navbar nav a img {
    vertical-align: middle;
}

.active {
    border-bottom: 1px solid goldenrod;
    color: white;

}